@model PatientFormViewModel

@{
	ViewData["Title"] = "Form";
}

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Patient</h5>
                <form class="row g-3" id="Form">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select asp-for="Gender" class="form-select" asp-items="Html.GetEnumSelectList<Gender>()">
                                <option value="">-- Select Gender --</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select asp-for="MaritalStatus" class="form-select" asp-items="Html.GetEnumSelectList<MaritalStatus>()">
                                <option value="">-- Select Marital Status --</option>
                            </select>
                            <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Phone Number" asp-for="PhoneNumber">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Address" asp-for="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-8">
                        <div class="col-sm-10">
                            <textarea class="form-control" placeholder="Notes" style="height: 100px"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-switch form-check-solid form-check-custom mb-4">
                            <input class="form-check-input" type="checkbox" asp-for="HasWhatsApp">
                            <label class="form-check-label" asp-for="HasWhatsApp"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" form="Form">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts 
{
<partial name="_ValidationScriptsPartial" />
}