@model DoctorSearchResultViewModel

<div class="card shadow-sm border-0 rounded-3">
    <div class="card-body p-4">
        @if (Model is null)
        {
            <div class="alert alert-warning alert-dismissible fade show d-flex flex-column mb-0" role="alert">
                <span>
                    <i class="bi bi-exclamation-triangle me-1"></i>
                    No doctors were found!
                </span>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">@Model.Name</h4>
                <div class="d-flex gap-2">
                    <a class="btn btn-primary d-flex align-items-center"
                       asp-action="Details" asp-route-key="@Model.Key">
                        <i class="bi bi-info-circle me-1"></i>
                        Details
                    </a>
                    <a class="btn btn-outline-primary d-flex align-items-center "
                       asp-action="Edit" asp-route-key="@Model.Key">
                        <i class="bi bi-pencil-square me-1"></i>
                        Edit
                    </a>
                </div>
            </div>
        }
    </div>
</div>