@model ResetPasswordFormViewModel

<form class="row g-3 pt-4" asp-action="ResetPassword" asp-controller="Users"
	  data-ajax-method="post"
	  data-ajax="true"
	  data-ajax-success="onModalSuccess"
	  data-ajax-failure="showErrorMessage">
	<div class="row">
		<input type="hidden" asp-for="Id" />
		<div class="col md-5">
			<div class="row">
				<div class="col mb-4">
					<input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="col mb-4">
					<input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
			</div>
		</div>
	</div>
	<partial name="_ModalFooter" />
</form>
