@model SpecialtyFormViewModel

<form class="row g-3 pt-4" asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
	data-ajax-method="post"
	data-ajax="true"
	  data-ajax-success="onModalSuccess"
	data-ajax-failure="showErrorMessage">
	<div class="row">
		@if (Model?.Id > 0)
		{
			<input type="hidden" asp-for="Id"/>
		}
		<div class="col md-5">
			<div class="row">
				<div class="col mb-4">
					<input type="text" class="form-control" placeholder="Name" asp-for="Name">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="col mb-4">
					<textarea type="text" class="form-control" placeholder="Description" asp-for="Description"></textarea>
					<span asp-validation-for="Description" class="text-danger d-block"></span>
				</div>
			</div>
		</div>
	</div>
	<partial name="_ModalFooter" />
</form>