@model IEnumerable<SpecialtyViewModel>

@{ViewData["Title"] = "Specialties";}

<div class="pagetitle">
	<div class="d-flex justify-content-between">
		<div>
			<h1>Specialties</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active">Specialties</li>
				</ol>
			</nav>
		</div>
		<div>
			<a href="javascript:;" class="btn btn-sm mt-1 p-2 js-render-modal" style="background-color: #4154f1; color: white;"
			   data-title="Add Specialty"
			   data-url="/Specialties/Create">
				<i class="bi bi-plus-lg"></i>
				Add Specialty
			</a>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		@if (!Model.Any())
		{
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 18px;">
				<i class="bi bi-exclamation-triangle me-1"></i>
				No Specialties found!
			</div>
		}
		else
		{
			<div class="table-responsive">
				<table id="js-datatable" class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>No.of Doctors</th>
							<th>Status</th>
							<th>Created on</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var patient in Model)
						{
							@* <partial name="_PatientRow" model="@patient" /> *@
						}
					</tbody>
				</table>

			</div>
		}
	</div>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}