@model IEnumerable<SpecialtyViewModel>

@{
	ViewData["Title"] = "Specialties";
}

<div class="pagetitle">
	<div class="d-flex justify-content-between">
		<div>
			<h1>Specialties</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active">Specialties</li>
				</ol>
			</nav>
		</div>
		<div>
			<a href="javascript:;" class="btn btn-sm btn-secondary add-button mt-1 p-2 js-render-modal"
			   data-title="Add Specialty"
			   data-url="/Specialties/Create">
				<i class="bi bi-plus-lg"></i>
				Add Specialty
			</a>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		@if (!Model.Any())
		{
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 18px;">
				<i class="bi bi-exclamation-triangle me-1"></i>
				No Specialties found!
			</div>
		}
		else
		{
			<div class="datatable-container">
				<table class="table excludeDatatable">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">No.of Doctors</th>
							<th scope="col">Status</th>
							<th scope="col">Created on</th>
							<th scope="col">Last Updated On</th>
							<th class="text-end" scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var specialty in Model)
						{
							<partial name="_SpecialtyRow" model="@specialty" />
						}
					</tbody>
				</table>

			</div>
		}
	</div>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}