@{
    ViewData["Title"] = "Appointments";
}

<div class="pagetitle">
    <div class="d-flex justify-content-between">
        <div>
            <h1>View Apppointments</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Apppointments</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="mb-3 d-flex align-items-center mt-3">
            <div class="input-group w-auto">
                <span class="input-group-text bg-light">
                    <i class="bi bi-calendar-date"></i>
                </span>
                <input type="text" id="appointmentDate" class="form-control js-datepicker-appointment" placeholder="Filter by date" autocomplete="off"/>
            </div>
        </div>

        <div class="table-responsive">
            <table id="Appointments" class="table">
                <thead class="table-light">
                    <tr>
                        <th class="d-none"></th>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/appointment.js" asp-append-version="true"></script>
}