@model IEnumerable<AppointmentViewModel>

<div class="card">
    <div class="card-body">
        @if (!Model.Any())
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 18px;">
                <i class="bi bi-exclamation-triangle me-1"></i>
                No Apppointments found!
            </div>
        }
        else
        {
            <div class="datatable-container">
                <table id="js-datatable" class="table">
                    <thead class="table-light">
                        <tr>
                            <th>Patient</th>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PatientName</td>
                                <td>@item.DoctorName</td>
                                <td>@item.AppointmentDate.ToShortDateString()</td>
                                <td>@item.TimeSlot</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>