<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="" asp-action="">
                <i class="bi bi-calendar-plus-fill"></i>
                <span>Appointments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Patients" asp-action="Index">
                <i class="bi bi-person-check-fill"></i>
                <span>Patients</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Specialties" asp-action="Index">
                <i class="bi bi-clipboard2-pulse-fill"></i>
                <span>Specialties</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="" asp-action="">
                <i class="bi bi-clipboard2-pulse-fill"></i>
                <span>Doctors</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="" asp-action="">
                <i class="bi bi-file-earmark-bar-graph-fill"></i>
                <span>Reports</span>
            </a>
        </li>
        @if (User.IsInRole(AppRoles.Admin))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Users" asp-action="Index">
                    <i class="bi bi-person-fill-gear"></i>
                    <span>Users</span>
                </a>
            </li>
        }
    </ul>
</aside>